<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>This is a secured page!</h1>
    <p><a href="/" th:href="@{/}">Back to home page</a> <span> Log out by clicking the link <a href="/logout" th:href="@{/logout}"> LogOut</a></span></p>
    <p><a href="/" th:href="@{/students/list}">Add new Student</a> <span> List all student <a href="/logout" th:href="@{/logout}"> LogOut</a></span></p>
</div>
</body>
</html>